<div class="text-center">
  <h3>Education</h3>
  <app-color-info-card [bgGreen]=true [companyName]="educationInfo[0].degree" [institue]="educationInfo[0].institute"
    [experienceSpan]="educationInfo[0].educationSpan" [designationRole]="educationInfo[0].degreeName"
    [experienceDetails]="educationInfo[0].educationDetails">
  </app-color-info-card>
  <app-color-info-card [bgGreen]=true [companyName]="educationInfo[1].degree" [institue]="educationInfo[1].institute"
    [experienceSpan]="educationInfo[1].educationSpan" [designationRole]="educationInfo[1].degreeName"
    [experienceDetails]="educationInfo[1].educationDetails">
  </app-color-info-card>
  <app-color-info-card [bgGreen]=true [companyName]="educationInfo[2].degree" [institue]="educationInfo[2].institute"
    [experienceSpan]="educationInfo[2].educationSpan" [designationRole]="educationInfo[2].degreeName"
    [experienceDetails]="educationInfo[2].educationDetails">
  </app-color-info-card>
</div>