<footer class="footer">
  <div class="container text-center">
    <div class="d-flex justify-content-center">
      <app-social-links [greycirclebg]="false" image="../../../assets/linked-in.png"></app-social-links>
      <app-social-links [greycirclebg]="false" image="../../../assets/social-media-fb.png"></app-social-links>
      <app-social-links [greycirclebg]="false" image="../../../assets/whatsapp.png"></app-social-links>
      <app-social-links [greycirclebg]="false" image="../../../assets/twitter.png"></app-social-links>
    </div>
  </div>
  <div class="h4 title text-center">Jasbir Singh</div>
  <div class="text-center text-muted">
    <p>© Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com"
        target="_blank">TemplateFlip</a></p>
  </div>
</footer>