<div class="text-center work-exp-wrap">
  <h3>Work Experience</h3>
  <app-color-info-card [bgGreen]=true [companyName]="employeeInfo[1].companyName"
    [experienceSpan]="employeeInfo[1].experienceSpan" [designationRole]="employeeInfo[1].designation"
    [experienceDetails]="employeeInfo[1].experienceDetails">
  </app-color-info-card>
  <app-color-info-card [bgGreen]=true [companyName]="employeeInfo[0].companyName"
    [experienceSpan]="employeeInfo[0].experienceSpan" [designationRole]="employeeInfo[0].designation"
    [experienceDetails]="employeeInfo[0].experienceDetails">
  </app-color-info-card>
</div>
