<app-header></app-header>
<!-- (valueChange)="displaycounter($event)" -->
<app-social-links [greycirclebg]="true" image="../assets/social-media-fb.png"></app-social-links>
<div class="d-flex justify-content-center">
  <app-custom-buttons>Hire Me</app-custom-buttons>
  <app-custom-buttons>Download CV</app-custom-buttons>
</div>

<!-- <router-outlet></router-outlet>
<a href="" routerLink="/social" routerLinkActive="active">social</a>
<a href="" routerLink="/header" routerLinkActive="active">header</a> -->
<app-about-me></app-about-me>
<app-professional-skills></app-professional-skills>
<app-work-experience></app-work-experience>
<app-education-details></app-education-details>
<app-references></app-references>
<app-contact-me></app-contact-me>
<app-footer></app-footer>