<div class="cc-contact-information">
  
  <div class="container">
    <div class="cc-contact">
      <div class="row">
        <div class="col-md-9">
          <div class="card mb-0 contact-me-wrap">
            <div class="h4 text-center title">Contact Me</div>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <form method="POST">
                    <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"></span>
                          <input class="form-control" type="text" name="name" placeholder="Name" required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"></span>
                          <input class="form-control" type="text" name="Subject" placeholder="Subject"
                            required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group"><span class="input-group-addon"></span>
                          <input class="form-control" type="email" name="_replyto" placeholder="E-mail"
                            required="required">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="form-group">
                          <textarea class="form-control" name="message" placeholder="Your Message"
                            required="required"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <a href="mailto:jasbirsinghmejas1@gmail.com">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="mb-0"><strong>Address </strong></p>
                  <p class="pb-2">Bally, Howrah, West Bengal, PIN-711227</p>
                  <p class="mb-0"><strong>Phone</strong></p>
                  <p class="pb-2">+91 8961242370</p>
                  <p class="mb-0"><strong>Email</strong></p>
                  <p>jasbirsinghmejas1@gmail.com</p>
                  <p class="mb-0"><strong>Linked IN</strong></p>
                  <p>www.linkedin.com/in/jasbir-singh-js</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>