.cc-contact-information {
  background-image: url("../../../assets/mylocation.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  .cc-contact {
    padding: 8% 0 8% 20%;
  }
  .contact-me-wrap {
    padding: 25px;
  }
}
