.customSlides {
  min-height: 280px;
}
.customCaraosal {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  .carousel-indicators {
    bottom: 38px;
    left: 11px;
  }
  .carousel-indicators li {
    background-color: #378c3f !important;
  }
  .carousel-inner {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .carousel-item {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .carousel-item .active {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
