<div class="container prof-skill-wrap">
  <div class="text-center">
    <h4> Professional Skills</h4>
  </div>
  <app-custom-card>
    <div class="row">
      <div class="col-sm-6">
        <app-skills-meter [skill]="skillJS" [skillPrecentage]="skillJSPrecentage"></app-skills-meter>
      </div>
      <div class="col-sm-6 skill-comm-padd">
        <app-skills-meter [skill]="skillTypescript" [skillPrecentage]="skillTypescriptPrecentage"></app-skills-meter>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-skills-meter [skill]="skillAngular" [skillPrecentage]="skillAngularPrecentage"></app-skills-meter>
      </div>
      <div class="col-sm-6 skill-comm-padd">
        <app-skills-meter [skill]="skillAngularJS" [skillPrecentage]="skillAngularJSPrecentage"></app-skills-meter>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-skills-meter [skill]="skillHtml" [skillPrecentage]="skillHtmlPrecentage"></app-skills-meter>
      </div>
      <div class="col-sm-6 skill-comm-padd">
        <app-skills-meter [skill]="skillCSS" [skillPrecentage]="skillCSSPrecentage"></app-skills-meter>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-skills-meter [skill]="skillBootstrap4" [skillPrecentage]="skillBootstrap4Precentage"></app-skills-meter>
      </div>
      <div class="col-sm-6 skill-comm-padd">
        <app-skills-meter [skill]="skillSASS" [skillPrecentage]="skillSASSPrecentage"></app-skills-meter>
      </div>
    </div>
  </app-custom-card>
</div>
