button,
input,
optgroup,
select,
.h2,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
@media only screen and (max-width: 600px) {
  //  for mobile screens

  .skill-comm-padd {
    padding-left: 15px !important;
  }
  .about-social-wrap {
    right: 53px !important;
  }
}
